@page
@using CarApplication.Model.Offer
@model CarApplication.Pages.AdminPanel.Index

@{
    Layout = Layout;
    ViewData["Title"] = "Админ-панель";
}

<ul class="admin-panel-adt-list">
    @{
        if (Model.OfferEntities != null)
        {
            foreach (var offerEntity in Model.OfferEntities)
            {

                <li class="admin-panel-adt-list-item">
                    <div class="admin-panel-adt-name">
                        @offerEntity.Title
                    </div>
                    <div class="admin-panel-adt-btns">
                        <button class="adt-header-btn view-adt-btn custom-btn" data-url="/offer/view?id=@offerEntity.Id">
                            Просмотреть
                        </button>
                        <button class="adt-header-btn delete-adt-btn" data-id="@offerEntity.Id">
                            Удалить
                        </button>
                        @if (offerEntity.Status >= OfferEntity.Block)
                        {
                            <button class="adt-header-btn block-adt-btn" data-status="2" data-id="@offerEntity.Id">
                                Заблокировать
                            </button>
                        }
                        else
                        {
                            <button class="adt-header-btn block-adt-btn" data-status="1" data-id="@offerEntity.Id">
                                Разблокировать
                            </button>
                        }
                    </div>
                </li>
            }
        }
    }
</ul>
