@page
@model MedicineApplication.Pages.Index

<div id="lastAdts">
    <p class="text-center h3">Последние объявления</p>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="main-page-adt-card custom-a"
                   href="D:/GitHUB/medicine_app/%D0%A4%D1%80%D0%BE%D0%BD%D1%82/Adt/Adt.html">
                    <div class="main-page-adt-card-header">Название объявления</div>
                    <div class="main-page-adt-info">
                        <div class="main-page-adt-info-elem">SSC</div>
                        <div class="main-page-adt-info-elem">Tuatara</div>
                        <div class="main-page-adt-info-elem">1912312399</div>
                    </div>
                    <div class="adt-photos-content flex-wrap">
                        <img class="adt-photos-content-item"
                             src="https://funpick.ru/wp-content/uploads/2018/03/krut-mash-6.jpg" width="300"
                             height="200">
                        <img class="adt-photos-content-item"
                             src="https://pictureholiday.ru/wp-content/uploads/2018/05/1495023649_1-min.jpg"
                             width="300" height="200">
                        <img class="adt-photos-content-item"
                             src="https://funpick.ru/wp-content/uploads/2018/03/krut-mash-3-e1521637286850.jpg"
                             width="300" height="200">
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a class="main-page-adt-card custom-a"
                   href="D:/GitHUB/medicine_app/%D0%A4%D1%80%D0%BE%D0%BD%D1%82/Adt/Adt.html">
                    <div class="main-page-adt-card-header">Название объявления</div>
                    <div class="main-page-adt-info">
                        <div class="main-page-adt-info-elem">SSC</div>
                        <div class="main-page-adt-info-elem">Tuatara</div>
                        <div class="main-page-adt-info-elem">1912312399</div>
                    </div>
                    <div class="adt-photos-content flex-wrap">
                        <img class="adt-photos-content-item"
                             src="https://funpick.ru/wp-content/uploads/2018/03/krut-mash-6.jpg" width="300"
                             height="200">
                        <img class="adt-photos-content-item"
                             src="https://pictureholiday.ru/wp-content/uploads/2018/05/1495023649_1-min.jpg"
                             width="300" height="200">
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a class="main-page-adt-card custom-a"
                   href="D:/GitHUB/medicine_app/%D0%A4%D1%80%D0%BE%D0%BD%D1%82/Adt/Adt.html">
                    <div class="main-page-adt-card-header">Название объявления</div>
                    <div class="main-page-adt-info">
                        <div class="main-page-adt-info-elem">SSC</div>
                        <div class="main-page-adt-info-elem">Tuatara</div>
                        <div class="main-page-adt-info-elem">1912312399</div>
                    </div>
                    <div class="adt-photos-content flex-wrap">
                        <img class="adt-photos-content-item"
                             src="https://funpick.ru/wp-content/uploads/2018/03/krut-mash-6.jpg" width="300"
                             height="200">
                    </div>
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div id="webSiteDescription">
    <p class="text-center h3">Несколько слов об этом сайте</p>
    <div class="text-label text-center">На нашем сайте вы можете разместить объявление и продать свой автомобиль.</div>
</div>
