:root {
    --header-color: #14386e;
    --btn-color: rgb(59, 33, 153);
    --bg-color: #a17fe0;
    --shadow-color: #381269;
    --margin-top: 80px;
    --margin-bottom: 20px;
    --adt-label-shadow: rgba(71, 147, 177, 0.466);
    --header-shadow-color: rgb(42, 23, 78);
    --dangerous-color: rgb(167, 24, 24);
    --warning-color: rgb(221, 137, 11);
    --adt-lbl-color: rgba(11, 208, 243, 0.041);
}

body {
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, var(--bg-color));
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
    height: 100%;
}

.btn-white {
    background-color: #f8f9fa;
}

.custom-container {
    margin-top: 80px;
}

.info-block {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-link-elem {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
}

.header-link-elem:hover,
.header-link-elem.hover {
    background-color: white;
    color: #212529 !important;
    box-shadow: 0 0 5px 5px var(--header-shadow-color);
    border-radius: 3px;
}

.header-btn-elem {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    font-size: 18px;
    font-weight: 400;
}

.header-btn-elem:hover,
.header-btn-elem.hover {
    background-color: white !important;
    color: #212529 !important;
    box-shadow: 0 0 5px 5px var(--header-shadow-color);
    border-radius: 3px;
}

.header-dropdown-btn {
    background-color: var(--header-color) !important;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-dropdown-btn:hover {
    box-shadow: 0 0 10px 2px var(--header-shadow-color);
    color: white;
}

.personal-area-menu {
    display: flex;
    flex-direction: column !important;
    flex-wrap: wrap;
}

.personal-area-menu-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100%;
}

.personal-area-menu-item:hover,
.personal-area-menu-item.hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
    border-radius: 5px;

}

.right-line {
    border-right: 2px rgb(240, 240, 240) solid;
    margin-bottom: 10px;
    margin-top: 5px;
}

.right-content {
    padding-left: 10px;
    margin-left: 10px;
}

.right-content-header {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px rgb(240, 240, 240) solid;
}

.right-content-list {
    list-style: none;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
}

.custom-badge {
    font-size: medium;
    text-align: center;
    color: rgb(253, 253, 253);
    margin-top: 5px;
    margin-bottom: 10px;
}

.right-content-list-item {
    border-bottom: 2px rgb(240, 240, 240) solid;
    margin-top: 30px;
}

.personal-area-btn {
    background-color: rgb(245, 245, 245);
}

.personal-area-btn:hover,
.personal-area-btn.hover {
    background-color: white;
}

.line-bottom {
    border-bottom: 2px rgb(226, 221, 221) solid;
}

.avatar-big {
    margin-bottom: 10px !important;
    margin-top: 10px;
}

.other-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
}

.other-user-info-record {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}

.adt-name {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.adt-photos {
    margin: 15px;
    min-width: calc(100% - 30px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adt-photos-header {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.adt-photos-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.5px #e5eff8 solid;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
}

.adt-photos-content-item {
    margin: 5px;
}

.custom-container-shadow {
    margin-top: var(--margin-top);
    border: 3px whitesmoke solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 3px;
    box-sizing: border-box;
    min-height: 80vh;
    max-height: 100%;
    margin-bottom: var(--margin-bottom);
}

.adt-description {
    margin: 5px;
    padding: 20px;
    white-space: pre-wrap;
    box-shadow: inset 0 0 10px 2px var(--shadow-color);
    max-height: 600px;
    overflow-y: auto;
    font-size: 18px;
    width: 100%;
}

.adt-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.adt-info-lbl {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    background-color: white;
    font-size: large;
    font-weight: 500;
    color: #212529;

}

.adt-info-lbl:hover,
.adt-info-lbl.hover {
    text-decoration: none;
    color: black;
    box-shadow: 0 0 5px 2px var(--shadow-color);

}

.custom-a {
    text-decoration: none;
    color: black;
}

.custom-a:hover,
.custom-a.hover {
    text-decoration: none;
    color: rgb(82, 77, 77);
}

#ownerRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.adt-owner-avatar {
    width: 200px;
    border-radius: 50%;
}

.adt-owner-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.owner-info-elem {
    font-size: 26px;
    margin-right: 15px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 200px;
    height: 50px;
    line-height: 50px;

}

.owner-info-elem:hover,
.owner-info-elem.hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
}

.adt-owner-info-public {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.adt-owner-info-private {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.owner-login {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-right: 25px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.user-show-adt-btn {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -2px 2px 10px 2px #41355f;
    border: none;
}

.user-show-adt-btn:hover {
    box-shadow: inset -2px 2px 10px 2px #230866;
}

#adt-content {
    margin-top: 5px;
}

.custom-select:focus {
    box-shadow: inset -2px 2px 10px 2px var(--shadow-color);
}

.adt-ul {
    margin-top: 10px;
    list-style: none;
    border: 2px var(--shadow-color) solid;
    border-radius: 5px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    overflow-y: auto;
    max-height: 70vh;
}

.adt-li {
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 3px 3px var(--adt-label-shadow);
    min-height: 15.5vh;
    background-color: var(--adt-lbl-color);
    color: #000000 !important;
}

.adt-li:hover {
    box-shadow: 0 0 5px 3px var(--shadow-color);

}

.adt-li-contents {
    display: flex;
    flex-direction: column;
    color: #000000 !important;
}

.adt-li-contents:hover {
    color: rgb(63, 54, 54) !important;
}

.adt-li-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;

}

.adt-li-name {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
}

.adt-li-info-item {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 5vw;
}

.create-adt-form {
    display: flex;
    flex-direction: column;
}

.create-adt-form-item {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px rgb(41, 48, 53) solid;
    font-size: 18px;
    border-radius: 15px;
    min-height: 50px;
}

.create-adt-form-item:focus,
.create-adt-form-item.focus {
    border: 1px rgb(41, 48, 53) solid;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgb(99, 15, 99);
}

.create-adt-header {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
}

.create-adt-description {
    min-height: 400px;
    box-shadow: inset 0 0 10px 5px rgb(40, 13, 71);
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    max-height: 400px;

}

.adt-create-label {
    font-size: 20px;
    margin-top: 10px;
}

.create-adt-input-photos {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.create-adt-label-photos {
    min-width: 300px;
    text-align: center;
    line-height: 50px;
    background-color: #4e10dd;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 10px;
}

.create-adt-btn {
    width: 300px;
    max-width: 300px;
    min-height: 50px;
    line-height: 50px;
    background-color: #a510aa;
    color: white;
    margin-bottom: 10px;
}

.create-adt-btn:hover {
    box-shadow: 0 0 10px 2px #4e10dd;
}

.custom-container-without-bg {
    padding-top: 80px;
}

.search-filters {
    display: flex;
    flex-direction: column;
}

.search-filters-item {
    min-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.max-height-inherit {
    max-height: inherit;
}

.search-content {
    margin-bottom: 5px !important;
    background-color: white;
}

#filtersHeader {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-btn-filters {
    min-height: 50px;
    background-color: var(--btn-color);
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-btn-filters:hover {
    box-shadow: 0 0 10px 2px var(--shadow-color);
}

.search-area {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 20%;
}

.search-area-input {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.search-btn {
    background-color: var(--btn-color);
    min-height: 40px;
    text-align: center;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    color: white;
    margin-bottom: 10px;
}

.search-btn:hover {
    box-shadow: 0 0 10px 2px var(--shadow-color);
}

.border-none {
    border: none;
}

.horizontal-padding-none {
    padding-left: 0;
    padding-right: 0;
}

.bg-header {
    background-color: var(--header-color);
}

.input-options:focus {
    box-shadow: 0 0 5px 2px var(--shadow-color);
}

.max-height-none {
    max-height: none;
}

.custom-btn {
    background-color: var(--btn-color);
    color: white;
}

.custom-btn:hover {
    box-shadow: 0 0 10px 2px var(--shadow-color);
    background-color: var(--btn-color);
    color: white;
}

.second-text {
    color: rgb(71, 71, 71);
}

.adt-header-btn {
    padding-left: 10 xp;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.save-adt-btn {
    background-color: var(--btn-color);
}

.save-adt-btn:hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
}

.delete-adt-btn {
    background-color: rgb(167, 24, 24);
}

.delete-adt-btn:hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
}

.block-adt-btn {
    background-color: rgb(221, 137, 11);
}

.block-adt-btn:hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
}

.adt-footer-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.change-adt-btn {
    background-color: var(--btn-color);
    border-bottom: 2px black solid;
    border-right: 2px black solid;
}

.change-adt-btn:hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
    color: white;
}

.d-flex-column {
    display: flex !important;
    flex-direction: column !important;
}

.d-flex-row {
    display: flex !important;
    flex-direction: row !important;
}

.chats-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 70vh;
    align-items: flex-start;
    padding-left: 10px;
    margin-right: -15px;
    padding-right: 15px;
    align-items: stretch;
}

.chats-list-item {
    box-shadow: 0 0 5px 2px whitesmoke;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.chats-list-item:hover {
    box-shadow: 0 0 5px 2px var(--shadow-color);
    background-color: var(--adt-lbl-color);
}

.chat-adt-name {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-user-small-avatar {
    border-radius: 50%;
}

.messages {
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 60vh;
    padding: 10px;
}

.message {
    max-width: 50vw;
    box-shadow: 0 0 5px 2px whitesmoke;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 15px;
    width: auto;
}

.my-message {
    background-color: var(--adt-lbl-color);
    align-self: flex-end;
}

.message-user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-message-info {
    display: flex;
    flex-direction: row-reverse !important;
}

.chat-user-login {
    margin-left: 10px;
    margin-right: 10px;
}

.message-text {
    font-size: 18px;
    padding: 15px 0;
}

.my-message-text {
    text-align: right;
}

.message-datetime {
    font-size: 12px;
    color: grey;
}

.my-message-datetime {
    align-self: flex-end;
}

#sendMsgInput {
    border-radius: 15px;
    margin: 10px;
}

#sendMsgBtn {
    margin: 10px;
}

.main-page-adt-card {
    display: flex;
    flex-direction: column;
    background-color: var(--adt-lbl-color);
    box-shadow: 0 0 5px 5px var(--adt-label-shadow);
    align-items: stretch;
    padding: 10px;
    margin: 10px;
}

.main-page-adt-card-header {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-page-adt-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.main-page-adt-info-elem {
    font-size: 18px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.main-page-adt-image {
    align-self: center;
    margin: 10px;
}

.admin-panel-adt-list {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
}

.admin-panel-adt-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px 2px whitesmoke;
}

.admin-panel-adt-btns {
    display: flex;
    flex-direction: row;
}

.admin-panel-adt-name {
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
    margin: 10px;
}

.dropdown-menu form {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
