<nav class="navbar navbar-expand-md navbar-light personal-area-menu col-md-4">
    <button class="navbar-toggler  mr-auto" type="button" data-toggle="collapse" data-target="#navbarPersonalArea"
            aria-controls="navbarPersonalArea" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse personal-area-menu right-line" id="navbarPersonalArea">
        <ul class="navbar-nav mr-auto  personal-area-menu">
            <li>
                <a class="navbar-brand personal-area-menu-item" href="/profile/index">Настройки профиля</a>
            </li>
            <li>
                <a class="navbar-brand personal-area-menu-item" href="/profile/data">Персональные данные</a>
            </li>
            <li>
                <a class="navbar-brand personal-area-menu-item" href="/profile/security">Безопасность</a>
            </li>
        </ul>
    </div>
</nav>
