@using Microsoft.AspNetCore.Http
@{
    CarApplication.Core.User.CheckAuth(Context.Request.Cookies, Context.Session);
}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="https://gu-st.ru/content/situation_icons/car_sell.svg">
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="container-fluent bg-header fixed-top">
    <div id="header" class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-header">
            <a class="navbar-brand header-link-elem" href="/">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="navbar-brand header-link-elem" href="/offer/list">Объявления</a>
                    </li>
                    <li>
                        <a class="navbar-brand header-link-elem" href="/offer/create">Создать объявление</a>
                    </li>
                    <li>
                        <a class="navbar-brand header-link-elem" href="/chat">Чат</a>
                    </li>
                </ul>
                @{
                    if (!Context.Session.Keys.Contains("user"))
                    {
                        <div class="dropdown">
                            <button class="btn dropdown-toggle header-btn-elem" type="button" id="dropdownEnterButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Войти
                            </button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownEnterButton">
                                <form action="/auth/login" method="post" class="form">
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label for="authLogin">Введите ваши логин и пароль</label>
                                        <input type="text" name="email" class="form-control" id="authLogin" aria-describedby="authLoginHelp" placeholder="Логин">
                                        <small id="authLoginHelp" class="form-text text-muted"></small>
                                    </div>
                                    <div class="form-group">
                                        <label for="authPassword">Пароль</label>
                                        <input type="password" name="password" class="form-control" id="authPassword" placeholder="Пароль">
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="remember" class="form-check-input" id="authRememberMe">
                                        <label class="form-check-label" for="authRememberMe">Запомнить меня</label>
                                    </div>
                                    <button type="submit" class="btn header-dropdown-btn">Войти</button>
                                    <a href="/auth/register">Регистрация</a>
                                </form>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn dropdown-toggle header-btn-elem" type="button" id="dropdownEnterButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Context.Session.GetString("user_name")
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownEnterButton">
                                <a class="custom-a dropdown-item" href="/profile/index">Личный кабинет</a>
                                <a class="custom-a dropdown-item" href="/profile/offers">Мои объявления</a>
                                @if (Context.Session.GetString("user") == "2")
                                {
                                    <a class="custom-a dropdown-item" href="/adminPanel">Админ-панель</a>
                                }
                                <a class="custom-a dropdown-item" href="/logout">Выйти</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </nav>
    </div>
</div>
<div class="container custom-container-shadow">
    @RenderBody()
</div>
</body>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
<script src="/js/site.js"></script>
<script src="/js/main.js"></script>
</html>
